@import './valiable.scss';

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fcfcff;
}

.h100 {
  height: calc(100vh - #{$headerHeight});
}

.mr-10 {
  margin-right: 10px;
}

.p-10 {
  padding: 10px;
}

.container {
  display: flex;

  &.center {
    align-items: center;
    justify-content: center;
  }
}

.card {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
  padding: 15px;

  &.shadow {
    box-shadow: 3px 3px 3px lightgray;
  }

  .header {
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
  }

  .contents {
    margin: 10px 0;
  }

  .footer {
    border-top: 1px solid #e0e0e0;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.primary {
  background-color: #9999ff;
}
.danger {
  background-color: #ff9999;
}
.success {
  background-color: #66cc66;
}

a {
  color: #6666ff;
  cursor: pointer;
  text-decoration: unset;
}
a:hover {
  color: #9999ff;
}
a:active {
  transform: translateX(1px) translateY(1px);
}

pre {
  font: inherit;
  white-space: pre-wrap;
  margin: 0;
}

button {
  background-color: #aaaaaa;
  color: white;
  border: 0;
  border-radius: 3px;
  box-shadow: 1px 1px 3px lightgray;
  padding: 5px 10px;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

button:active {
  transform: translateX(1px) translateY(1px);
}

button:disabled {
  opacity: 0.8;
}

button.icon-btn {
  background-color: rgba(0, 0, 0, 0);
  color: black;
  border: 0;
  box-shadow: unset;
  font-size: 1.2em;

  i {
    line-height: 1em;
  }
}

button + button {
  margin-left: 10px;
}

input {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 10px;
  width: calc(100% - 20px);
  outline: none;
}
input:hover {
  background-color: #f9f9f9;
}
input:active {
  border: 1px solid #efefff;
}
input:focus {
  border: 1px solid #aaaaff;
}
input[type='date'] {
  font: inherit;
  font-size: 0.8em;
}

textarea {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 10px;
  width: calc(100% - 20px);
  outline: none;
  font: inherit;
  font-size: 0.8em;
}
textarea:hover {
  background-color: #f9f9f9;
}
textarea:active {
  border: 1px solid #efefff;
}
textarea:focus {
  border: 1px solid #aaaaff;
}

fieldset {
  border: 1px solid #aaaaff;
  border-radius: 5px;
  margin-top: 10px;
  padding: 1em;
  position: relative;

  .legend {
    padding: 0px 10px;
    background-color: #aaaaff;
    color: white;
    border-radius: 5px;
    position: absolute;
    top: -0.75em;
  }
}

table {
  width: 100%;
  border-collapse: collapse;

  thead {
    border-bottom: 2px solid #ccccff;

    th {
      text-align: left;
      padding: 2px 5px;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid #ccccff;

      td {
        padding: 3px 5px;
      }
    }

    tr:hover {
      background-color: #f0f0ff;
    }
  }

  &.row-clickable {
    tbody {
      tr:hover {
        cursor: pointer;
      }
    }
  }
}

.form-item {
  position: relative;
  margin-top: 1.5em;

  label {
    position: absolute;
    bottom: 100%;
    height: 1.5em;
    line-height: 1.8em;
    font-size: 0.8em;
    font-weight: bold;
  }
}

.v-center {
  display: flex;
  align-items: center;
}
